body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑", Arial, Helvetica, sans-serif, "宋体";
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.btn {
  width: 100px;
  height: 28px;
  padding: 0 12px;
}
.btn:nth-of-type(2n) {
  height: 520px;
}
@media screen and (min-width: 750px) {
  .container {
    width: 100%;
    padding: 20px;
  }
}
.tooltip-inner {
  background: #a7a7a7;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #a7a7a7;
}
.progress {
  height: 10px;
  margin-top: 4px;
  margin-bottom: 0;
}
.dropdown-menu {
  min-width: 100px;
  top: 110%;
}
.dropdown-menu > li {
  height: 30px;
}
.btn-group {
  margin-top: 8px;
}
.form-inline .form-control {
  width: 120px;
  margin-right: 20px;
}
.form-inline .form-control option {
  text-align: center;
}
.pay-count {
  height: 48px;
  border: 1px #e9e9e9 solid;
  border-radius: 5px;
  margin: 16px auto;
}
.pay-count .pay-count-title {
  line-height: 48px;
  font-weight: 600;
  color: #666666;
}
.pay-chart-list {
  width: 1250px;
}
.pay-count-chart {
  margin-bottom: 14px;
}
.pay-count-chart .main {
  width: 284px;
  height: 110px;
  border: 1px #e9e9e9 solid;
  border-radius: 5px;
}
.pay-tendency {
  height: 100%;
  border: 1px #e9e9e9 solid;
  border-radius: 5px;
}
.pay-tendency .title {
  height: 48px;
  padding-left: 26px;
  border-bottom: 1px #e9e9e9 solid;
  font-weight: 600;
  line-height: 42px;
  color: #666666;
}
.pay-tendency .row {
  margin: 16px 24px;
  padding-bottom: 16px;
  border-bottom: 1px #e9e9e9 solid;
  height: 100%;
}
.pay-tendency .row .pay-list li {
  float: left;
  width: 120px;
  padding-right: 20px;
  text-align: center;
}
.pay-tendency .row .pay-list li p {
  color: #999;
  cursor: default;
}
.pay-tendency .row .pay-list li span {
  font-size: 24px;
  color: #666666;
}
.pay-tendency .row .pay-date {
  margin-top: 16px;
}
.pay-tendency .row .pay-date li {
  float: right;
  padding-right: 10px;
}
.pay-tendency .row .pay-date #datetimepicker {
  width: 170px;
  margin-top: -6px;
}
.pay-tendency .row .pay-date a {
  color: #999;
}
.pay-tendency .row .pay-date a.active {
  color: #108ee9;
}
.pay-tendency .main {
  width: 98%;
  height: 400px;
  margin: 24px 20px 0 20px;
}
.pay-error {
  height: 350px;
  margin-top: 18px;
  margin-left: 16px;
  border: 1px #e9e9e9 solid;
  border-radius: 5px;
  float: left;
}
.pay-error .title {
  height: 50px;
  padding: 16px 24px;
  border-bottom: 1px #e9e9e9 solid;
}
.pay-error .title h4,
.pay-error .title > a {
  float: left;
}
.pay-error .title > a {
  padding-left: 6px;
  color: #108ee9;
}
.pay-error .title h4 {
  font-weight: 600;
  color: #666666;
}
.pay-error .title .btn-group {
  float: right;
  margin-top: -4px;
}
.pay-error .table-responsive {
  max-height: 300px;
  padding: 0 20px;
  overflow-y: auto;
}
.pay-error .table-responsive .table thead {
  color: #d5ccd5;
}
.pay-error .table-responsive .table thead th:nth-child(4) {
  width: 90px;
}
.pay-error .table-responsive .table tbody {
  color: #666666;
}
